VITE_API_BASE=http://127.0.0.1:8000
VITE_DEFAULT_CURRENCY=EUR
VITE_WHATSAPP=+905364291221
VITE_COMPANY_NAME=GetTransfer İstanbul
VITE_COMPANY_ADDRESS=Tayakadın, Terminal Caddesi No:1, 34283 Arnavutköy/İstanbul
VITE_GOOGLE_MAPS_EMBED=https://maps.google.com/maps?q=Tayakad%C4%B1n%2C%20Terminal%20Caddesi%20No:1%2C%2034283%20Arnavutk%C3%B6y%2F%C4%B0stanbul&output=embed&z=15
VITE_INSTAGRAM=https://instagram.com/gettransferistanbul
VITE_TRIPADVISOR=https://www.tripadvisor.com.gr/Attraction_Review-g293974-d32963051-Reviews-Gettransfer_istanbul-Istanbul.html
